:root{
    --bgcolor:#333;
    --textPrimary: #fff;
    --textSecondary: #666;
    --primaryColor: #fd4;


}
*{
    margin: 0px;
    padding: 0px;
}
h1 svg{
    width: 40px;
    fill: var(--primaryColor);
}
main{
    /* width: 600px;
    margin: 50px auto; */
    margin: 20px 20px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgcolor);
    color: var(--textPrimary); 
    font-size: 1.4rem;
}
h1{
    color: var(--primaryColor);
}
#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#buttons{
    text-align: right;
}
#info{
    color: var(--primaryColor);
}
button{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 5px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}